$primary-color: black;
$font-stack: 'Arial', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: $font-stack;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#root, .App {
  width: 100vw;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
html {
  scroll-behavior: auto;
}
