.transparent-box {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 15px; 
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    max-width: 95%;  
    height: 100vh;
    margin: 0 auto;
    margin-top: 5vh;
    box-sizing: border-box;
    width: 95vw;
  }
  