.transparent-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(161, 161, 161, 0.308); 
    border-radius: 15px; 
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100vw;
  }
  