.auth-button-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  max-width: 100%;

    
  &__auth-button {
    white-space: nowrap;
    padding: 8% 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: clamp(0.15rem, 1.2rem, 1rem);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  &__auth-button:hover {
    background-color: #0056b3;
  }

  @media (max-width: 768px) {
    font-size: clamp(0.15rem, 1.5rem, 1rem);
  }

  @media (max-width: 480px) {
    display: none;
  }
  

}
