.MainLayout{
    background: #3494E6;
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6); 
    background: linear-gradient(to right, #EC6EAD, #3494E6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
