@use 'variables' as *;

.authForm {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 45vh;
  width: 20vw;
  padding: 30px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
  box-shadow: $box-shadow-base;
  transition:
    box-shadow 0.3s ease,
    backdrop-filter 0.3s ease;

  &:hover {
    box-shadow: $box-shadow-hover;
  }

  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 25px;
    color: $text-color;
    font-family: $font-family;
  }

  .formGroup {
    margin-bottom: 4vh;

    label {
      display: block;
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 14px;
      color: $label-color;
      font-family: $font-family;
    }
  }

  .error {
    color: $error-color;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
    font-family: $font-family;
  }
}

@media (max-width: 1440px) {
  .authForm {
    width: 30vw;
    height: auto;
    padding: 30px;
  }
}

@media (max-width: 1024px) {
  .authForm {
    width: 30vw;
    height: auto;
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .authForm {
    width: 50vw;
    height: auto;
    padding: 25px;

    h2 {
      font-size: 22px;
    }

    .formGroup {
      label {
        font-size: 14px;
      }

      input {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 480px) {
  .authForm {
    width: 80vw;
    padding: 20px;

    h2 {
      font-size: 20px;
    }

    .formGroup {
      label {
        font-size: 13px;
      }

      input {
        font-size: 13px;
      }
    }
  }
}

.AuthFormImg {
  border-radius: $border-radius;
  background: url('.../../../../../../../assets/AuthWall.jpg') no-repeat
    center/cover;
}

.AuthFormC {
  margin-top: 30vh;
  margin-bottom: 30vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vh;
  border-radius: 50px;

  @media (max-width: 1024px) {
    width: 85vw;
    height: 85vh;
  }

  @media (max-width: 768px) {
    width: 90vw;
    height: 100vh;
  }

  @media (max-width: 480px) {
    width: 95vw;
    height: 100vh;
    margin-top: 15vh;
    margin-bottom: 15vh;
  }

  @media (min-width: 1440px) {
    width: 70vw;
    height: 85vh;
  }
}
