@use 'variables' as *;




.formInput {

  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid $input-border-color;
  color: $text-color;
  padding: $input-padding;
  border-radius: $border-radius;
  font-family: $font-family;
  font-size: clamp(0.8rem, 0.6vw, 6rem);
  width: 100%;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;

  &:focus {
    background-color: rgba(255, 255, 255, 0.7);
    border-color: $primary-color;
    outline: none;
    box-shadow: $focus-box-shadow;
  }

  &::placeholder {
    color: rgba(51, 51, 51, 0.6);
  }

  @include responsive-font(0.8rem, 4rem);

  @media (max-width: 1440px) {
    padding: calc($input-padding * 1.2);
  }

  @media (max-width: 1024px) {
    padding: calc($input-padding * 1.2);
  }

  @media (max-width: 768px) {
    padding: calc($input-padding * 1.5);
  }

  @media (max-width: 480px) {
    padding: calc($input-padding * 1.5);
  }
  
}

.rmmberC {
  display: flex;
  justify-content: flex-start;
  align-content: flex-end;
  width: 100%;
}

.rmbrChck {
  display: flex;
  flex-direction: column;
  margin-bottom: 1vh;
  font-weight: 600;
  font-size: 14px;
  color: $label-color;
  font-family: $font-family;
  margin-right: 1vh;
}

.rmmberCC {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
