@use 'variables' as *;

$base-padding-vertical: 1.3vh;
$base-padding-horizontal: 1.3vh;

.submitButton {
  width: 100%;
  padding: $base-padding-vertical $base-padding-horizontal;
  background-color: $primary-color;
  color: #ffffff;
  border: none;
  border-radius: 1.8vh;
  cursor: pointer;
  font-size: clamp(0.8rem, 0.6vw, 6rem);
  font-weight: bold;
  font-family: $font-family;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;

  &:hover {
    background-color: $primary-color-hover;
    transform: translateY(-2px);
  }

  &:active {
    background-color: $primary-color-active;
    transform: translateY(0);
  }

  @include responsive-font(0.8rem, 4rem);

  @media (max-width: 1440px) {
    padding: calc($base-padding-vertical * 1) calc($base-padding-horizontal * 1.8);
  }

  @media (max-width: 1024px) {
    padding: calc($base-padding-vertical * 1.2) calc($base-padding-horizontal * 1.8);
  }

  @media (max-width: 768px) {
    padding: calc($base-padding-vertical * 1.35) calc($base-padding-horizontal * 1.8);
  }

  @media (max-width: 480px) {
    padding: calc($base-padding-vertical * 1.35) calc($base-padding-horizontal * 1.8);
  }
}
