.menu {
  width: 100vw;
  display: flex;
  gap: 2vw;
  position: fixed;
  top: 0;
  left: 0;

  padding: 1px 1.5vw;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  &__styles {
    &__light {
      background: rgb(255, 255, 255);
    }
    &__dark {
      background: rgb(16, 92, 180);
    }
  }

  &__leftc {
    display: flex;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__rightc {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }

  &__auth-button {
    align-self: center;
  }

  &__toggle {
    display: none;
    font-size: clamp(1.3rem, 1.6rem, 1.9rem);
    background: none;
    border: none;
    color: #333;
    cursor: pointer;

    @media (max-width: 768px) {
      display: block;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    box-sizing: border-box;

    @media (max-width: 768px) {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: white;
      border: 1px solid #ccc;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
  }

  &__links--open {
    display: flex;
    width: fit-content;
    margin-top: 1vh;
  }

  &__link {
    white-space: nowrap;
    padding: 0.6vh 1.5vw;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #f0f0f0;
    }

    @media (max-width: 768px) {
      padding: 2vh;
    }

    @media (max-width: 480px) {
      padding: 1vh 2vw;
    }
  }

  @media (max-width: 768px) {
    padding: 0.4vh 1vw;
    gap: 1.5vw;
  }

  @media (max-width: 480px) {
    padding: 0.5vh 1vw;

    &__link {
      padding: 0.5vh 1vw;
    }
  }
}
