@use '@/node_modules/@glidejs/glide/src/assets/sass/glide.core.scss' as *;
@use '@/node_modules/@glidejs/glide/src/assets/sass/glide.theme.scss' as *;

.glide {
  padding-top: 5vh;

  &__slide {
    img {
      width: 100%;
      background-size: cover;
    }
  }
  &__arrows {
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10vw;
      height: 10vw;
      border: none;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.8);
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer;
      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
  }
}
